<!DOCTYPE html>
    <head>
        <title> GamblerGoals </title>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous">
        </script>
        <link rel="icon" href="/static/Images/PlaceHolderIMG.png" type="image/x-icon">
    </head>
    <body>
        <div id="main-content">
            {{{body}}}
        </div>
    </body>
</html>